*{
	margin: 0;
	padding: 0;
	outline:none;
	vertical-align: 0px;

}

#wrapper
{
	height: 1000px;
	width: 100%;
	background-image: url(../image/.jpg);
}
#header
{
	/*background:linear-gradient(-45deg,yellow,red,green,magenta,maroon);*/
	background-color: #333;
	height: 50px;
	width: 100%;
	
}
#menu
{
     height: 250px;
	
	background-image: url(../image/45.jpg);
}
#case1
{
  float: right;
}
#body
{
	/*background-color: white;*/
	height: 800px;
	width: 100%;
	padding: 6px;
	background-image: url(../image/158.png);
	background-color: #9ACD32;
	display: table;
	content: "";
}


#footer
{

	height: 150px;
	width: 100%;
	color: black;
	padding: 6px;
	background-color: black;
	background-image: url(../image/199.jpg);

}
#header a
{
	    float: left;
		padding: 14px 16px;
		font-size: 16px;
		text-align: center;
		color: white;
		text-decoration: none;
}
#footer p
{
	font-family: comic sans ms;
	font-size: 14px;
	color: white;
	text-align: center;
}

#header a:hover
{
  background-color: #9ACD32;
}


img {
	vertical-align: middle;
	height: 215px;
	width: 150px
    }



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 215px) {
  .prev, .next,.text {font-size: 11px}
}


}



